.reseau-container{
    background-color: white;
    cursor: pointer;
    z-index: 1;
    
   

    
}
#racine{
    margin-top: 10px;
   
}
.popupInfo-reseau{
    width: 45%;
    height: 650px;
    position: absolute;
    left: 40px;
    top: 0%;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    border-radius: 1px !important;
}
/*.thumbnail{height: 337px;}*/